* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/fondo_m.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #cff0c2;
  background-size: cover;
  /*height: 100vh;*//*si tengo fixed no hace falta?*/
}
main{
  min-height: 86vh; /*mirar de ponerlo como clase de bootstrap min-100-vh*/
}
.grad{
  background-image: linear-gradient(90deg, green, #cff0c2);
  padding: 25px;
}
tr th:first-child, tr td:first-child{
  padding-left: 2rem !important;
}
th:last-child, tr td:last-child{
  padding-right: 2rem !important;
}

/*.swiper-container {
  width: 100%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;*//*necesita important para el padding
}*/
.swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 400px;
  min-height: 300px;
}

@media screen and (min-width: 768px) {
  body{
    background-image: url("../img/3439394.jpg");
  }
  
}

@media screen and (min-width: 1200px) {
 
}